{% extends "juegos/base_generic.html" %}

{% block content %}
<div class="mt-4 mb-5">
    <h2 class="mb-3">Lista de Productos</h2>
    <table class="table table-dark" style="color: white;">
        <thead>
            <tr>
                <th>Producto</th>
                <th>Precio</th>
                <th>Cantidad</th>
                <th>Total</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for producto_id, item in carrito.items %}
            <tr>
                <td>{{ item.nombre }}</td>
                <td>${{ item.precio|floatformat:2 }}</td>
                <td>
                    <form method="POST" action="{% url 'actualizar_cantidad_carrito' producto_id %}">
                        {% csrf_token %}
                        <input type="number" name="cantidad" value="{{ item.cantidad }}">
                        <button type="submit" class="btn btn-dark btn-sm button-success">Actualizar</button>
                    </form>
                </td>
                <td>${{ item.total|floatformat:2 }}</td>
                <td>
                    <a href="{% url 'eliminar_del_carrito' producto_id %}" class="btn btn-dark btn-sm button-danger">Eliminar</a>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="5">No hay productos en el carrito.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <p><strong>Total a pagar:</strong> ${{ total|floatformat:2 }}</p>
    <a href="{% url 'vaciar_carrito' %}" class="btn btn-dark button-warning">Vaciar Carrito</a>
    <a href="{% url 'listar_productos' %}" class="btn btn-dark button-success">Seguir comprando</a>
</div>
{% endblock %}